@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(62, 214, 207);
  --primary-color-darker: rgb(38, 139, 134);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.2em;
  line-height: 1em;
}

h1{
  text-align: center;
}

#container {
  max-width: 900px;
  margin: 50px auto;
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 2px rgba(38, 139, 134, 0.568);
}

#pai{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.filho{
  padding: 0px 40px;
}

form input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

#button {
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
  border-radius: 10px;
}

#button:hover {
  background: var(--primary-color-darker);
}

.green{color: green;}
.yellow{color: orange;}
.red{color: red;}
.darkred{color: darkred;}